.UnitMembers {
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #DCDCDC;
}

.UnitMembersRegionalPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UnitMembersRegionalPanel_header {
    background-color: #DCDCDC;
    display: inline;
    margin: 0;
}

.UnitMembersRegionalPanel_select, .UnitMembersRegionalPanel_button {
    font-size: 16px;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: 0.25rem;
    cursor: pointer;
}

.UnitMembers_table {
    margin-top: 1rem;
    border-collapse: collapse;
    background-color: white;
}

.UnitMembersRegionalTable_tr {
    border-bottom: 1px solid black;
    height: 2rem;
    font-size: 1.25rem;
}

.UnitMemberRegionalRow {
    border-bottom: 1px solid black;
    height: 2rem;
    font-size: 1.25rem;
}

.UnitMembersRegionalTable_header_Name {
    width: 13rem;
}

.UnitMembersRegionalTable_header_Badge {
    width: 5rem;
}

.UnitMembersRegionalTable_header_Skills {
    width: 10rem;
}

.UnitMembersRegionalTable_header_Contact {
    width: 9rem;
}

.UnitMembers_table td, .UnitMembers_table th {
    padding: 0 0.5rem;
}

.UnitMemberRegionalRow_true_state {
    background-color: greenyellow;
}

.UnitMemberRegionalRow_button {
    cursor: pointer;
}