.TopBarHeader {
    display: flex;
    margin: 2rem 2rem 0;
}

.TopBarHeader h2 {
    width: 4rem;
    font-size: 1.33rem;
    text-align: center;
    padding: 0.33rem 0.5rem;
    margin: 0 1rem 0 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(106, 146, 255);
    transition: 0.2s;
}

.TopBarHeader h2:hover {
    background-color: rgb(255, 255, 59);
}