.MainPage {
    background-color: #C0C0C0;
    margin: 0 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.MainPage_header {
    background-color: #DCDCDC;
    display: inline;
    padding: 0.25rem 2rem;
    border-radius: 0.5rem;
}

.MainPage_actionSelector {
    display: flex;
}

.MainPage_updateSelector, .MainPage_pageOutSelector {
    margin: 1rem;
    padding: 0.5rem 0.5rem 1.33rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 12rem;
}

.MainPage_updateSelector:hover, .MainPage_pageOutSelector:hover {
    background-color: rgb(255, 255, 99);
    transition: 0.2s;
}

.MainPage_actionSelector h2 {
    font-size: 2rem;
}

.MainPage_actionSelector img {
    height: 7rem;
}

.MainPage_pageOutSelector {
    background-color: #8FAFFF;
}

.MainPage_updateSelector {
    background-color: #8FFF94;
}