.modal_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 220, 220);
    padding: 2rem;
    z-Index: 10;
    border-radius: 1rem;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(138, 138, 138, 0.671);
    z-Index: 10;
}