.UnitsList {
    background-color: #C0C0C0;
    margin: 0 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.UnitsList_header {
    background-color: #DCDCDC;
    display: inline;
    padding: 0.25rem 2rem;
}

.UnitsList_unitSelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.UnitsList_UnitSelectionButton {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(106, 146, 255);
    text-align: center;
}

.UnitsList_UnitSelectionButton:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 59);
    transition: 0.2s;
}

.UnitsList_UnitSelectionButton h2 {
    font-size: 2rem;
    text-align: center;
    width: 8rem;
}

.UnitsList_UnitSelectionButton img {
    max-height: 8rem;
    max-width: 8rem;
}

.disabledLink {
    background-color: grey !important;
}